.campoDigitacao:disabled{
    background-color: lightgray;
}
.campoDigitacao{
    border: 3px solid black;
    height: 130px;
}

.icone{
    vertical-align: middle;
}

.bordaVerde{
    border: 3px solid green;
}
.bordaVermelha{
    border: 3px solid red;
}